@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  --primary-soft-blue: hsl(215, 51%, 70%);
  --primary-cyan: hsl(178, 100%, 50%);
  --primary-half-cyan: hsla(178, 100%, 50%, 50%);
  --main-background: hsl(217, 54%, 11%);
  --card-background: hsl(216, 50%, 16%);
  --hr-line: hsl(215, 32%, 27%);;
  --white-color: hsl(0, 0%, 100%);
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
  background-color: var(--main-background);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 1.25rem;
}

main {
  background-color: var(--card-background);
  max-width: 375px;
  align-self: center;
  padding: 1.25rem;
  border-radius: 20px;
  color: var(--primary-soft-blue);
  box-shadow: 0 0 60px 15px hsla(0, 0%, 0%, 0.20);
}

.nft-img {
  width: 100%;
  background-image: url(/images/image-equilibrium.jpg);
  aspect-ratio: 1;
  background-size: contain;
  border-radius: 10px;
}

.eye {
  background-color: var(--primary-half-cyan);
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s;
} 

.eye:hover {
  opacity: 1;
  cursor: pointer;
}

h1, .attract {
  color: var(--white-color);
}

.attract:hover {
  color: var(--primary-cyan);
  cursor: pointer;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left {
  display: flex;
  align-items: center;
  color: var(--primary-cyan);
  font-weight: 700;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

hr {
  background-color: var(--hr-line);
  border: none;
  height: 1px;
}

.author {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  flex-wrap: wrap;
}

.author > img{
  height: 2rem;
  border: 1px solid var(--white-color);
  border-radius: 50%;
  margin-right: 0.5rem;
}